options zfs dbuf_cache_hiwater_pct=10
options zfs dbuf_cache_lowater_pct=10
options zfs dbuf_cache_max_bytes=18446744073709551615
options zfs dbuf_cache_shift=5
options zfs dbuf_metadata_cache_max_bytes=18446744073709551615
options zfs dbuf_metadata_cache_shift=6
options zfs dbuf_mutex_cache_shift=0
options zfs ddt_zap_default_bs=15
options zfs ddt_zap_default_ibs=15
options zfs dmu_object_alloc_chunk_shift=7
options zfs dmu_prefetch_max=134217728
options zfs icp_gcm_avx_chunk_size=32736
options zfs ignore_hole_birth=1
options zfs l2arc_exclude_special=1
options zfs l2arc_feed_again=1
options zfs l2arc_feed_min_ms=200
options zfs l2arc_feed_secs=1
options zfs l2arc_headroom=32
options zfs l2arc_headroom_boost=200
options zfs l2arc_meta_percent=33
options zfs l2arc_mfuonly=0
options zfs l2arc_noprefetch=0
options zfs l2arc_norw=0
options zfs l2arc_rebuild_blocks_min_l2size=1073741824
options zfs l2arc_rebuild_enabled=1
options zfs l2arc_trim_ahead=800
options zfs l2arc_write_boost=536870912
options zfs l2arc_write_max=536870912
options zfs metaslab_aliquot=1048576
options zfs metaslab_bias_enabled=1
options zfs metaslab_debug_load=0
options zfs metaslab_debug_unload=0
options zfs metaslab_df_max_search=16777216
options zfs metaslab_df_use_largest_segment=0
options zfs metaslab_force_ganging=16777217
options zfs metaslab_force_ganging_pct=3
options zfs metaslab_fragmentation_factor_enabled=1
options zfs metaslab_lba_weighting_enabled=1
options zfs metaslab_preload_enabled=1
options zfs metaslab_preload_limit=10
options zfs metaslab_preload_pct=50
options zfs metaslab_unload_delay=32
options zfs metaslab_unload_delay_ms=600000
options zfs send_holes_without_birth_time=1
options zfs spa_asize_inflation=24
options zfs spa_config_path=/etc/zfs/zpool.cache
options zfs spa_load_print_vdev_tree=0
options zfs spa_load_verify_data=1
options zfs spa_load_verify_metadata=1
options zfs spa_load_verify_shift=4
options zfs spa_slop_shift=5
options zfs spa_upgrade_errlog_limit=0
options zfs vdev_file_logical_ashift=9
options zfs vdev_file_physical_ashift=9
options zfs vdev_removal_max_span=32768
options zfs vdev_validate_skip=0
options zfs zap_iterate_prefetch=1
options zfs zap_micro_max_size=131072
options zfs zfetch_max_distance=67108864
options zfs zfetch_max_idistance=67108864
options zfs zfetch_max_sec_reap=2
options zfs zfetch_max_streams=8
options zfs zfetch_min_distance=4194304
options zfs zfetch_min_sec_reap=1
options zfs zfs_abd_scatter_enabled=1
options zfs zfs_abd_scatter_max_order=10
options zfs zfs_abd_scatter_min_size=1536
options zfs zfs_admin_snapshot=0
options zfs zfs_allow_redacted_dataset_mount=0
options zfs zfs_arc_average_blocksize=131072
options zfs zfs_arc_dnode_limit=0
options zfs zfs_arc_dnode_limit_percent=10
options zfs zfs_arc_dnode_reduce_percent=10
options zfs zfs_arc_evict_batch_limit=10
options zfs zfs_arc_eviction_pct=200
options zfs zfs_arc_grow_retry=0
options zfs zfs_arc_lotsfree_percent=10
options zfs zfs_arc_max=0
options zfs zfs_arc_meta_balance=500
options zfs zfs_arc_min=2147483648
options zfs zfs_arc_min_prefetch_ms=100
options zfs zfs_arc_min_prescient_prefetch_ms=200
options zfs zfs_arc_pc_percent=0
options zfs zfs_arc_prune_task_threads=1
options zfs zfs_arc_shrinker_limit=10000
options zfs zfs_arc_shrink_shift=0
options zfs zfs_arc_sys_free=17179869184
options zfs zfs_async_block_max_blocks=18446744073709551615
options zfs zfs_autoimport_disable=1
options zfs zfs_brt_prefetch=1
options zfs zfs_btree_verify_intensity=0
options zfs zfs_checksum_events_per_second=20
options zfs zfs_commit_timeout_pct=5
options zfs zfs_compressed_arc_enabled=1
options zfs zfs_condense_indirect_commit_entry_delay_ms=0
options zfs zfs_condense_indirect_obsolete_pct=25
options zfs zfs_condense_indirect_vdevs_enable=1
options zfs zfs_condense_max_obsolete_bytes=1073741824
options zfs zfs_condense_min_mapping_bytes=131072
options zfs zfs_dbgmsg_enable=1
options zfs zfs_dbgmsg_maxsize=4194304
options zfs zfs_dbuf_state_index=0
options zfs zfs_ddt_data_is_special=1
options zfs zfs_deadman_checktime_ms=60000
options zfs zfs_deadman_enabled=1
options zfs zfs_deadman_failmode=wait
options zfs zfs_deadman_synctime_ms=600000
options zfs zfs_deadman_ziotime_ms=300000
options zfs zfs_dedup_prefetch=0
options zfs zfs_default_bs=9
options zfs zfs_default_ibs=17
options zfs zfs_delay_min_dirty_percent=60
options zfs zfs_delay_scale=500000
options zfs zfs_delete_blocks=1024
options zfs zfs_dirty_data_max=4294967296
options zfs zfs_dirty_data_max_max=4294967296
options zfs zfs_dirty_data_max_max_percent=25
options zfs zfs_dirty_data_max_percent=10
options zfs zfs_dirty_data_sync_percent=20
options zfs zfs_disable_ivset_guid_check=0
options zfs zfs_dmu_offset_next_sync=1
options zfs zfs_embedded_slog_min_ms=64
options zfs zfs_expire_snapshot=300
options zfs zfs_fallocate_reserve_percent=110
options zfs zfs_flags=0
options zfs zfs_free_bpobj_enabled=1
options zfs zfs_free_leak_on_eio=0
options zfs zfs_free_min_time_ms=1000
options zfs zfs_history_output_max=1048576
options zfs zfs_immediate_write_sz=131072
options zfs zfs_initialize_chunk_size=1048576
options zfs zfs_initialize_value=16045690984833335022
options zfs zfs_keep_log_spacemaps_at_export=0
options zfs zfs_key_max_salt_uses=400000000
options zfs zfs_livelist_condense_new_alloc=0
options zfs zfs_livelist_condense_sync_cancel=0
options zfs zfs_livelist_condense_sync_pause=0
options zfs zfs_livelist_condense_zthr_cancel=0
options zfs zfs_livelist_condense_zthr_pause=0
options zfs zfs_livelist_max_entries=500000
options zfs zfs_livelist_min_percent_shared=75
options zfs zfs_lua_max_instrlimit=100000000
options zfs zfs_lua_max_memlimit=104857600
options zfs zfs_max_async_dedup_frees=100000
options zfs zfs_max_dataset_nesting=50
options zfs zfs_max_logsm_summary_length=10
options zfs zfs_max_log_walking=5
options zfs zfs_max_missing_tvds=0
options zfs zfs_max_nvlist_src_size=0
options zfs zfs_max_recordsize=16777216
options zfs zfs_metaslab_find_max_tries=100
options zfs zfs_metaslab_fragmentation_threshold=70
options zfs zfs_metaslab_max_size_cache_sec=3600
options zfs zfs_metaslab_mem_limit=25
options zfs zfs_metaslab_segment_weight_enabled=1
options zfs zfs_metaslab_switch_threshold=2
options zfs zfs_metaslab_try_hard_before_gang=0
options zfs zfs_mg_fragmentation_threshold=95
options zfs zfs_mg_noalloc_threshold=0
options zfs zfs_min_metaslabs_to_flush=1
options zfs zfs_multihost_fail_intervals=10
options zfs zfs_multihost_history=0
options zfs zfs_multihost_import_intervals=20
options zfs zfs_multihost_interval=1000
options zfs zfs_multilist_num_sublists=0
options zfs zfs_nocacheflush=0
options zfs zfs_nopwrite_enabled=1
options zfs zfs_no_scrub_io=0
options zfs zfs_no_scrub_prefetch=0
options zfs zfs_object_mutex_size=64
options zfs zfs_obsolete_min_time_ms=500
options zfs zfs_override_estimate_recordsize=0
options zfs zfs_pd_bytes_max=52428800
options zfs zfs_per_txg_dirty_frees_percent=30
options zfs zfs_prefetch_disable=0
options zfs zfs_read_history=1048576
options zfs zfs_read_history_hits=1
options zfs zfs_rebuild_max_segment=1048576
options zfs zfs_rebuild_scrub_enabled=1
options zfs zfs_rebuild_vdev_limit=67108864
options zfs zfs_reconstruct_indirect_combinations_max=4096
options zfs zfs_recover=0
options zfs zfs_recv_best_effort_corrective=0
options zfs zfs_recv_queue_ff=20
options zfs zfs_recv_queue_length=16777216
options zfs zfs_recv_write_batch_size=1048576
options zfs zfs_removal_ignore_errors=0
options zfs zfs_removal_suspend_progress=0
options zfs zfs_remove_max_segment=16777216
options zfs zfs_resilver_disable_defer=0
options zfs zfs_resilver_min_time_ms=3000
options zfs zfs_scan_blkstats=0
options zfs zfs_scan_checkpoint_intval=7200
options zfs zfs_scan_fill_weight=3
options zfs zfs_scan_ignore_errors=0
options zfs zfs_scan_issue_strategy=0
options zfs zfs_scan_legacy=0
options zfs zfs_scan_max_ext_gap=2097152
options zfs zfs_scan_mem_lim_fact=20
options zfs zfs_scan_mem_lim_soft_fact=20
options zfs zfs_scan_report_txgs=0
options zfs zfs_scan_strict_mem_lim=0
options zfs zfs_scan_suspend_progress=0
options zfs zfs_scan_vdev_limit=16777216
options zfs zfs_scrub_error_blocks_per_txg=4096
options zfs zfs_scrub_min_time_ms=1000
options zfs zfs_send_corrupt_data=0
options zfs zfs_send_no_prefetch_queue_ff=20
options zfs zfs_send_no_prefetch_queue_length=1048576
options zfs zfs_send_queue_ff=20
options zfs zfs_send_queue_length=16777216
options zfs zfs_send_unmodified_spill_blocks=1
options zfs zfs_slow_io_events_per_second=20
options zfs zfs_snapshot_history_enabled=1
options zfs zfs_spa_discard_memory_limit=16777216
options zfs zfs_special_class_metadata_reserve_pct=25
options zfs zfs_sync_pass_deferred_free=2
options zfs zfs_sync_pass_dont_compress=8
options zfs zfs_sync_pass_rewrite=2
options zfs zfs_sync_taskq_batch_pct=100
options zfs zfs_traverse_indirect_prefetch_limit=32
options zfs zfs_trim_extent_bytes_max=134217728
options zfs zfs_trim_extent_bytes_min=32768
options zfs zfs_trim_metaslab_skip=0
options zfs zfs_trim_queue_limit=10
options zfs zfs_trim_txg_batch=32
options zfs zfs_txg_history=100
options zfs zfs_txg_timeout=5
options zfs zfs_unflushed_log_block_max=131072
options zfs zfs_unflushed_log_block_min=1000
options zfs zfs_unflushed_log_block_pct=400
options zfs zfs_unflushed_log_txg_max=1000
options zfs zfs_unflushed_max_mem_amt=1073741824
options zfs zfs_unflushed_max_mem_ppm=1000
options zfs zfs_unlink_suspend_progress=0
options zfs zfs_user_indirect_is_special=1
options zfs zfs_vdev_aggregation_limit=16777216
options zfs zfs_vdev_aggregation_limit_non_rotating=0
options zfs zfs_vdev_async_read_max_active=32
options zfs zfs_vdev_async_read_min_active=8
options zfs zfs_vdev_async_write_active_max_dirty_percent=60
options zfs zfs_vdev_async_write_active_min_dirty_percent=30
options zfs zfs_vdev_async_write_max_active=32
options zfs zfs_vdev_async_write_min_active=8
options zfs zfs_vdev_default_ms_count=200
options zfs zfs_vdev_default_ms_shift=29
options zfs zfs_vdev_def_queue_depth=32
options zfs zfs_vdev_failfast_mask=1
options zfs zfs_vdev_initializing_max_active=1
options zfs zfs_vdev_initializing_min_active=1
options zfs zfs_vdev_max_active=1000
options zfs zfs_vdev_max_auto_ashift=14
options zfs zfs_vdev_max_ms_shift=34
options zfs zfs_vdev_min_auto_ashift=9
options zfs zfs_vdev_min_ms_count=16
options zfs zfs_vdev_mirror_non_rotating_inc=0
options zfs zfs_vdev_mirror_non_rotating_seek_inc=0
options zfs zfs_vdev_mirror_rotating_inc=0
options zfs zfs_vdev_mirror_rotating_seek_inc=10
options zfs zfs_vdev_mirror_rotating_seek_offset=16777216
options zfs zfs_vdev_ms_count_limit=131072
options zfs zfs_vdev_nia_credit=5
options zfs zfs_vdev_nia_delay=5
options zfs zfs_vdev_open_timeout_ms=1000
options zfs zfs_vdev_queue_depth_pct=3200
options zfs zfs_vdev_read_gap_limit=131072
options zfs zfs_vdev_rebuild_max_active=3
options zfs zfs_vdev_rebuild_min_active=1
options zfs zfs_vdev_removal_max_active=2
options zfs zfs_vdev_removal_min_active=1
options zfs zfs_vdev_scrub_max_active=3
options zfs zfs_vdev_scrub_min_active=1
options zfs zfs_vdev_sync_read_max_active=64
options zfs zfs_vdev_sync_read_min_active=16
options zfs zfs_vdev_sync_write_max_active=64
options zfs zfs_vdev_sync_write_min_active=16
options zfs zfs_vdev_trim_max_active=2
options zfs zfs_vdev_trim_min_active=1
options zfs zfs_vdev_write_gap_limit=131072
options zfs zfs_vnops_read_chunk_size=1048576
options zfs zfs_wrlog_data_max=8589934592
options zfs zfs_xattr_compat=0
options zfs zfs_zevent_len_max=512
options zfs zfs_zevent_retain_expire_secs=900
options zfs zfs_zevent_retain_max=2000
options zfs zfs_zil_clean_taskq_maxalloc=1048576
options zfs zfs_zil_clean_taskq_minalloc=1024
options zfs zfs_zil_clean_taskq_nthr_pct=100
options zfs zfs_zil_saxattr=1
options zfs zil_maxblocksize=1048576
options zfs zil_maxcopied=7680
options zfs zil_min_commit_timeout=5000
options zfs zil_nocacheflush=0
options zfs zil_replay_disable=0
options zfs zil_slog_bulk=67108864
options zfs zio_deadman_log_all=0
options zfs zio_dva_throttle_enabled=1
options zfs zio_requeue_io_start_cut_in_line=1
options zfs zio_slow_io_ms=30000
options zfs zio_taskq_batch_pct=100
options zfs zio_taskq_batch_tpq=16
options zfs zstd_abort_size=131072
options zfs zstd_earlyabort_pass=1
options zfs zvol_enforce_quotas=1
options zfs zvol_inhibit_dev=0
options zfs zvol_major=230
options zfs zvol_max_discard_blocks=16384
options zfs zvol_open_timeout_ms=1000
options zfs zvol_prefetch_bytes=131072
options zfs zvol_request_sync=0
options zfs zvol_threads=0
options zfs zvol_volmode=1